:root{
--light-gray:rgb(239, 235, 235);
--gray:rgb(181, 180, 180);
--yellow:rgb(245, 245, 61);
--darkGray:rgb(149, 147, 147);
--appColor:rgb(53, 52, 52);
}
.App{
  mix-blend-mode: overlay;
  background-color: var(--appColor);
  display: flex;
  flex-direction: column;
  gap: 6rem;
  overflow: hidden;
}
::webkit--scrollbar{
  display: none;
}
.stroke-text{
  color: transparent;
  font-family: 'Courier New', Courier, monospace;
  -webkit-text-stroke-width:2px ;
  -webkit-text-stroke-color:var(--yellow);
}

@media screen and (max-width : 768px){
  .hero{
    flex-direction: column;
  }
  .left_para>div{
    font-size: 30px;
    max-width:200px;
  }
  .left_para .hero_comment{
    width: 50%;
  }
  .figures{
    display:flex;
    flex-direction: column;
    margin-right:200px;
    margin-bottom:10px ;
  }
  .left_btns{
    display:flex;
    flex-direction: column;
    width:40%;
    margin-left:30px;
  }
  .right{
    position: relative;
  }
  
}